html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0;
}
input,
button,
select {
  margin: 0;
  padding: 0;
  border: 0;
}
@media screen {
  html,
  body {
    height: 100%;
    overflow: hidden;
  }
}
body {
  background-color: #13aae3;
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  color: #444;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-top: 50px;
}
a {
  color: #08aeec;
  text-decoration: none;
}
.strata_out {
  width: 100%;
}
.strata_out:before,
.strata_out:after {
  content: "";
  display: table;
}
.strata_out:after {
  clear: both;
}
.strata {
  max-width: 1200px;
  margin: 0 auto;
}
.strata:before,
.strata:after {
  content: "";
  display: table;
}
.strata:after {
  clear: both;
}
.strata_in:before,
.strata_in:after {
  content: "";
  display: table;
}
.strata_in:after {
  clear: both;
}
@media screen {
  .strata_in {
    margin: 0 16px;
  }
}
.stuck {
  position: fixed;
  top: 50px;
  float: none !important;
}
.sub-header {
  padding: 50px 0;
  background-color: #13aae3;
  color: #fff;
  -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset;
  box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset;
}
.page-title {
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 28px;
}
.page-baseline {
  margin-top: 10px;
  color: #01425b;
}
.page_content {
  background: #f5f5f5;
}
.page_content > .strata {
  position: relative;
}
.header {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  left: 0;
  background: #13aae3;
  color: #fff;
  height: 50px;
}
@media print {
  .header {
    display: none;
  }
}
.home .header {
  padding: 30px 0;
}
.header_compact {
  background: #fff;
  color: #777;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.header_compact .header_logo {
  background-image: url("/mozaik-logo.png");
}
.header_compact .main-nav_link {
  color: #777;
}
.header_compact .main-nav_link._is-active {
  color: #000;
}
.header_compact .main-nav_link:hover {
  color: #13aae3;
}
.header_compact .main-nav_link-demo {
  background: #13aae3;
  color: #fff;
}
.header_compact .main-nav_link-demo:hover {
  background: #fff;
  color: #13aae3;
}
.header_logo {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url("/mozaik-logo-white.png");
  background-repeat: no-repeat;
  background-position: 0 10px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  width: 100px;
  height: 50px;
  display: inline-block;
}
@media screen and (min-width: 769px) {
  .header_logo {
    float: left;
  }
}
#logo-wrap {
  text-align: center;
}
.main-nav {
  display: none;
  float: right;
}
@media screen and (min-width: 769px) {
  .main-nav {
    display: block;
  }
}
.main-nav_item {
  display: inline-block;
  position: relative;
}
.main-nav_item-demo {
  margin-left: 10px;
  padding: 10px 0 0 0;
}
.main-nav_link {
  color: #b0e5f8;
  text-decoration: none;
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 15px;
  line-height: 50px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
}
.main-nav_link:hover {
  color: #fff;
}
.main-nav_link._is-active {
  color: #fff;
}
.main-nav_link-demo {
  line-height: 30px;
  background: #fff;
  color: #13aae3;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.main-nav_link-demo:hover {
  background: #13aae3;
  color: #fff;
}
.index_banner {
  background-color: #13aae3;
  text-align: center;
  padding: 50px 0 65px 0;
  color: #fff;
}
.index_banner_intro {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(0,0,0,0.35);
}
.index_banner_link {
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  margin: 0;
  border: 2px solid #fff;
  padding: 12px 16px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.index_banner_link:hover {
  background: #fff;
  color: #13aae3;
}
@media screen and (max-width: 768px) {
  .index_banner_link {
    width: 100%;
  }
  .index_banner_link:first-child {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .index_banner_link {
    width: 47%;
  }
  .index_banner_link:first-child {
    margin-right: 4%;
  }
}
@media screen and (min-width: 769px) {
  .index_banner_link {
    width: 18%;
  }
  .index_banner_link:first-child {
    margin-right: 2%;
  }
}
.banner-share {
  background: #fff;
  display: none;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.banner-share_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 0;
  height: 44px;
}
@media screen and (min-width: 769px) {
  .banner-share {
    display: block;
  }
}
.sidebar {
  width: 240px;
  float: right;
  padding-bottom: 40px;
  display: none;
}
@media screen and (min-width: 769px) {
  .sidebar {
    display: block;
  }
}
.sidebar-title {
  margin-top: 20px;
  padding: 10px 0;
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #08aeec;
  display: block;
  border-bottom: 1px solid #ccc;
  line-height: 1;
  margin-bottom: 7px;
}
.sidebar-link {
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: block;
  color: #444;
  text-decoration: none;
  padding: 7px 0;
  line-height: 1;
  position: relative;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.sidebar-link.current {
  color: #08aeec;
}
.sidebar-link:hover {
  color: #17baf7;
}
#content {
  position: relative;
}
#content:before,
#content:after {
  content: "";
  display: table;
}
#content:after {
  clear: both;
}
#content-inner:before,
#content-inner:after {
  content: "";
  display: table;
}
#content-inner:after {
  clear: both;
}
@media screen and (min-width: 769px) {
  #content-inner {
    margin-left: 220px;
  }
}
.article-container {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .article-container {
    float: left;
    width: 78%;
  }
}
.article-inner:before,
.article-inner:after {
  content: "";
  display: table;
}
.article-inner:after {
  clear: both;
}
@media screen and (min-width: 769px) {
  .article-inner {
    margin-right: 220px;
  }
}
.article {
  float: left;
  width: 100%;
  padding: 40px 0;
}
@media print {
  .article {
    padding: 0;
  }
}
.toc {
  font-size: 15px;
  color: #666;
}
.toc-item.toc-level-1 > .toc-link {
  padding-left: 5px;
}
.toc-item.toc-level-2 > .toc-link {
  padding-left: 15px;
}
.toc-item.toc-level-3 > .toc-link {
  padding-left: 30px;
}
.toc-item.toc-level-4 > .toc-link {
  padding-left: 45px;
}
.toc-link {
  border-left: 3px solid #f5f5f5;
  text-decoration: none;
  color: inherit;
  display: block;
  line-height: 1em;
  padding: 7px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toc-link._is-current {
  border-color: #08aeec;
}
.toc-link:hover {
  color: #08aeec;
}
.article-header {
  padding-bottom: 20px;
}
.article-header:before,
.article-header:after {
  content: "";
  display: table;
}
.article-header:after {
  clear: both;
}
.article-title {
  float: left;
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  text-decoration: none;
  color: #444;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
a.article-title:hover {
  color: #17baf7;
}
.post .article-title {
  float: none;
}
.article-date {
  color: #999;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
}
.article-date:hover {
  color: #17baf7;
}
.article-edit-link {
  float: right;
  color: #bbb;
  font-size: 24px;
  line-height: 36px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  display: none;
}
.article-edit-link:hover {
  color: #17baf7;
}
@media screen and (min-width: 769px) {
  .article-edit-link {
    display: block;
  }
}
.article-anchor {
  margin-left: 10px;
  display: none;
}
.article-anchor:before {
  content: "#";
}
@media print {
  .article-anchor {
    display: none !important;
  }
}
.article-heading:hover .article-anchor {
  display: inline-block;
}
.article-content {
  line-height: 1.6em;
  color: #444;
}
@media print {
  .article-content {
    font-size: 12pt;
  }
}
.article-content p,
.article-content ol,
.article-content ul,
.article-content dl,
.article-content table,
.article-content blockquote,
.article-content iframe,
.article-content .highlight {
  margin: 1em 0;
}
.article-content h1 {
  font-size: 2em;
}
.article-content h2 {
  font-size: 1.5em;
}
.article-content h3 {
  font-size: 1.3em;
}
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  line-height: 1em;
  font-weight: bold;
  margin: 1em 0;
}
.article-content a {
  color: #08aeec;
  text-decoration: none;
}
.article-content a:hover {
  color: #17baf7;
  text-decoration: underline;
}
@media print {
  .article-content a {
    color: #444;
    text-decoration: underline;
  }
  .article-content a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }
}
.article-content strong {
  font-weight: bold;
}
.article-content em {
  font-style: italic;
}
.article-content ul,
.article-content ol,
.article-content dl {
  margin-left: 20px;
}
.article-content ul ul,
.article-content ol ul,
.article-content dl ul,
.article-content ul ol,
.article-content ol ol,
.article-content dl ol,
.article-content ul dl,
.article-content ol dl,
.article-content dl dl {
  margin-top: 0;
  margin-bottom: 0;
}
.article-content ul {
  list-style: disc;
}
.article-content ol {
  list-style: decimal;
}
.article-content dl {
  list-style: square;
}
.article-content li p {
  margin: 0;
}
.article-content li table,
.article-content li blockquote,
.article-content li iframe,
.article-content li .highlight {
  margin: 1em 0;
}
.article-content img,
.article-content video {
  max-width: 100%;
}
.article-content blockquote {
  padding: 0 20px;
  position: relative;
  border: 1px solid #ccc;
  border-left: 5px solid #ddd;
}
.article-content blockquote footer {
  margin: 1em 0;
  font-style: italic;
}
.article-content blockquote footer cite:before {
  content: "—";
  padding: 0 0.3em;
}
.article-content blockquote footer cite a {
  color: color-grey;
}
.article-content .note.tip {
  border-left-color: #fa0;
}
.article-content .note.info {
  border-left-color: #0af;
}
.article-content .note.warn {
  border-left-color: #f00;
}
.article-content .note-title {
  margin: 1em 0;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
}
.article-content table {
  max-width: 100%;
  border: 1px solid #ccc;
}
.article-content table th {
  font-weight: bold;
}
.article-content table th,
.article-content table td {
  padding: 5px 15px;
}
.article-content table tr:nth-child(2n) {
  background: #eee;
}
.article-footer {
  margin: 1em 0;
  border-top: 1px solid #ccc;
  text-align: center;
  color: #999;
  line-height: 1em;
  padding-top: 1em;
  position: relative;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
@media print {
  .article-footer {
    display: none;
  }
}
.article-footer-prev,
.article-footer-next {
  color: #08aeec;
  text-decoration: none;
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;
}
.article-footer-prev:hover,
.article-footer-next:hover {
  color: #17baf7;
}
@media print {
  .article-footer-prev,
  .article-footer-next {
    display: none;
  }
}
.article-footer-prev span,
.article-footer-next span {
  padding: 0 6px;
}
.article-footer-prev {
  left: 0;
}
.article-footer-next {
  right: 0;
}
.article-footer-updated {
  font-size: 0.9em;
}
@media screen and (max-width: 768px) {
  .article-footer-updated {
    display: none;
  }
}
@media print {
  #comments {
    display: none;
  }
}
.features {
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .features {
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}
.features_title {
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin: 30px 0 30px 0;
  padding-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 768px) {
  .features_title {
    text-align: center;
  }
}
.feature {
  position: relative;
  margin-bottom: 40px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding-left: 200px;
  min-height: 180px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .feature {
    padding-left: 0;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .feature {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 769px) {
  .feature {
    -webkit-flex-basis: 48%;
    flex-basis: 48%;
  }
}
.feature_pic {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 180px;
  height: 180px;
}
@media screen and (max-width: 768px) {
  .feature_pic {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
  }
}
.feature_pic img {
  width: 180px;
  height: 180px;
}
.feature_title {
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #333;
  font-size: 18px;
  text-decoration: none;
  line-height: 1;
  padding-top: 3px;
  display: block;
  position: relative;
}
@media screen and (max-width: 768px) {
  .feature_title {
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
  }
}
.feature_title .fa {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  margin-right: 7px;
  color: #08aeec;
}
.feature_more {
  display: inline-block;
  border: 2px solid #08aeec;
  line-height: 1em;
  padding: 3px 7px;
  font-size: 13px;
  font-weight: 700;
  color: #08aeec;
  text-decoration: none;
}
.feature_more:hover {
  background-color: #08aeec;
  color: #fff;
}
.feature_desc {
  margin-top: 12px;
  line-height: 1.8em;
}
.feature_desc p {
  display: inline;
}
.feature_desc strong {
  font-weight: 700;
  color: #08aeec;
}
.extensions {
  margin: 30px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .extensions {
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}
.extensions_intro {
  margin: 30px 0 0 0;
  text-align: left;
  font-weight: 700;
  padding-left: 20px;
  border-left: 3px solid #71cff2;
}
.extension {
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .extension {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 480px) {
  .extension {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 769px) {
  .extension {
    -webkit-flex-basis: 49%;
    flex-basis: 49%;
  }
}
.extension_name {
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  font-weight: bold;
  color: #333;
  background: #fafafa;
  font-size: 18px;
  text-decoration: none;
  line-height: 1;
  padding: 13px 20px;
  display: block;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.extension_name img {
  position: absolute;
  top: 13px;
  right: 20px;
}
.extension_link {
  color: #444;
  line-height: 1em;
  text-decoration: none;
}
.extension_link:hover {
  color: #000;
}
.extension_desc {
  line-height: 1.6em;
  padding: 12px 20px;
}
.extension_tags {
  border-top: 1px solid #eee;
  line-height: 1em;
  padding: 7px 20px 10px 20px;
}
.extension_tags:before,
.extension_tags:after {
  content: "";
  display: table;
}
.extension_tags:after {
  clear: both;
}
.extension_tag {
  color: #999;
  font-size: 0.9em;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
}
.extension_tag:hover {
  color: #555;
}
.extension_tag:before {
  content: "#";
}
.archive-post {
  padding: 1em 0;
  border-top: 1px solid #ccc;
}
.archive-post:last-child {
  padding-bottom: 40px;
}
.archive-post-link {
  display: block;
  color: #444;
  text-decoration: none;
  line-height: 1.6em;
}
.archive-post-link:before,
.archive-post-link:after {
  content: "";
  display: table;
}
.archive-post-link:after {
  clear: both;
}
.archive-post-link:hover {
  color: #17baf7;
}
.archive-post-title {
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  float: left;
  font-weight: bold;
}
.archive-post-date {
  color: #999;
  float: right;
  font-size: 0.9em;
}
#mobile-nav {
  font-weight: 600;
  position: fixed;
  z-index: 2000;
  top: 50px;
  width: 320px;
  left: -320px;
  height: 100%;
  background-color: #13aae3;
  color: #fff;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.mobile-nav-on #mobile-nav {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
#mobile-nav-inner {
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: lang-select-height;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
}
#mobile-nav-toggle {
  z-index: 3000;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 25px;
  height: 20px;
  margin: auto;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  display: block;
}
#mobile-nav-toggle:active,
.mobile-nav-on #mobile-nav-toggle {
  opacity: 1;
}
@media screen and (min-width: 769px) {
  #mobile-nav-toggle {
    display: none;
  }
}
.mobile-nav-toggle-bar {
  background: #08aeec;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.mobile-nav-toggle-bar:first-child {
  top: 0;
}
.mobile-nav-on .mobile-nav-toggle-bar:first-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobile-nav-toggle-bar:nth-child(2) {
  top: 8.5px;
}
.mobile-nav-on .mobile-nav-toggle-bar:nth-child(2) {
  opacity: 0;
}
.mobile-nav-toggle-bar:last-child {
  top: 17px;
}
.mobile-nav-on .mobile-nav-toggle-bar:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#mobile-search-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  margin: auto;
  width: 25px;
  height: 25px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.5;
}
#mobile-search-btn:before,
#mobile-search-btn:after {
  content: "";
  position: absolute;
}
#mobile-search-btn:before {
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
  top: 0;
  left: 0;
}
#mobile-search-btn:after {
  width: 9px;
  height: 3px;
  background: #fff;
  top: 15px;
  right: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
}
#mobile-search-btn:active {
  opacity: 1;
}
@media screen and (min-width: 769px) {
  #mobile-search-btn {
    display: none;
  }
}
.mobile-nav-link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobile-nav-title {
  color: #08aeec;
  font-weight: bold;
  padding: 10px 15px;
  line-height: 1;
  display: block;
  border-top: 1px solid #444;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.mobile-nav-on #container {
  -webkit-transform: translateX(320px);
  -moz-transform: translateX(320px);
  -ms-transform: translateX(320px);
  transform: translateX(320px);
  overflow: hidden;
}
#mobile-nav-dimmer {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
  -moz-transition: opacity 0.4s, -moz-transform 0s 0.4s;
  -ms-transition: opacity 0.4s, -ms-transform 0s 0.4s;
  transition: opacity 0.4s, transform 0s 0.4s;
}
.mobile-nav-on #mobile-nav-dimmer {
  opacity: 0.7;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
#footer {
  padding: 40px 0;
  color: rgba(255,255,255,0.6);
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  text-align: center;
}
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#footer:after {
  clear: both;
}
@media screen and (min-width: 769px) {
  #footer {
    text-align: left;
  }
}
@media print {
  #footer {
    display: none;
  }
}
#footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
#footer a:hover {
  color: #fff;
}
#footer-copyright {
  line-height: 1.4;
}
@media screen and (min-width: 769px) {
  #footer-copyright {
    float: left;
  }
}
#footer-copyright a {
  font-weight: bold;
}
#footer-links {
  margin-top: 1em;
}
@media screen and (min-width: 769px) {
  #footer-links {
    float: right;
    margin-top: 0;
  }
}
.footer-link {
  font-size: 30px;
  margin-left: 20px;
}
.footer-link:first-child {
  margin-left: 0;
}
pre,
code {
  font-family: Consolas, 'Source Code Pro', Monaco, Menlo, monospace;
  color: #444;
  font-size: 0.95em;
}
code {
  padding: 0 5px;
}
pre {
  padding: 10px 15px;
  line-height: 22px;
}
pre code {
  border: none;
  display: block;
  padding: 0;
}
.highlight {
  background: #e6e6e6;
  color: #444;
  padding: 10px 15px;
  overflow: auto;
  margin: 0;
}
.highlight table {
  margin: 0 !important;
  border: 0;
}
.highlight table th,
.highlight table td {
  padding: 0;
}
.highlight figcaption {
  margin: -5px 0 5px;
  font-size: 0.9em;
  color: #999;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: "";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
}
.highlight pre {
  padding: 0;
  border: none;
  background: none;
}
.highlight .line {
  height: 22px;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c92500;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #e7960a;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #0e8bdb;
}
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
.themes {
  margin: 40px 0 40px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .themes {
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}
.themes_intro {
  margin: 30px 0 0 0;
  text-align: left;
  font-weight: 700;
  padding-left: 20px;
  border-left: 3px solid #71cff2;
}
.theme {
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.theme_name {
  display: block;
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.theme img {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.35);
  box-shadow: 0 2px 3px rgba(0,0,0,0.35);
  max-width: 100%;
  float: left;
}
@media screen and (max-width: 768px) {
  .theme {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 480px) {
  .theme {
    -webkit-flex-basis: 48%;
    flex-basis: 48%;
  }
}
@media screen and (min-width: 769px) {
  .theme {
    -webkit-flex-basis: 32%;
    flex-basis: 32%;
  }
}
