@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700")

// GENERIC
$main-bg-color                  = #f1e2b9
$main-txt-color                 = #050505
$main-margin                    = 8vmin
$main-font                      = normal normal 400 unquote("2.2vmin/3.2vmin") "Lato", sans-serif


// WIDGET
$widget-spacing                 = 2vmin
$widget-bg-color                = #f1e2b9
$widget-border-radius           = 0
$widget-border                  = 2px solid #050505

// WIDGET — header
$widget-header-height           = 6vmin
$widget-header-bg-color         = #ccc0a1
$widget-header-txt-color        = #050505
$widget-header-icon-color       = #050505
$widget-header-icon-size        = 24px
$widget-header-border-bottom    = 2px solid #050505
$widget-header-border-radius    = 0
$widget-header-font             = normal normal 300 3vmin "Lato", sans-serif

// WIDGET — header count
$widget-header-count-border     = 1px solid #050505
$widget-header-count-bg-color   = transparent
$widget-header-count-txt-color  = #050505

// WIDGET — body
$widget-body-border-radius      = 0
$widget-body-bg-color           = transparent


// TABLE
$table-border-h                 = 1px solid #050505


// COUNT
$count-padding                 = 3px 7px
$count-bg-color                = lighten($main-bg-color, 3)
$count-txt-color               = $main-txt-color
$count-border-radius           = 2px
$count-border                  = 1px solid #000


// Meaningful colors
$unknown-color                  = #9d937a
$success-color                  = #41508b
$warning-color                  = #d1be65
$failure-color                  = #f9703c


// CHARTS
$histogram-bar-bg-color         = #9d937a
$chart-axis-txt-color           = #050505