.dashboard__title
  text-transform uppercase
  background $widget-bg-color
  border-radius $widget-header-border-radius
  padding 0 2vmin
  box-shadow $widget-header-shadow,
             $widget-shadow