.dashboard__title {
  text-transform: uppercase;
  padding: 0 2vmin;
  background: themes[night-blue][widget-bg-color];
  border-radius: themes[night-blue][widget-border-radius];
  box-shadow: themes[night-blue][widget-header-shadow],
              themes[night-blue][widget-shadow];
}
