.count {
  display: inline-block
  line-height: 1em
  themifyAll({
    font-size: count-font-size,
    padding: count-padding,
    background-color: count-bg-color,
    color: count-txt-color,
    border-radius: count-border-radius,
    border: count-border,
  })
}