.pie {
  position: relative;
  width:  100%;
  height: 100%;
}

.pie_chart {
  position: relative;
  float: left;
  width:  60%;
  height: 100%;
}
.pie_chart_wrapper {
  width:  100%;
  height: 100%;
}

.pie_outline {
  themifyAll({
    fill:         pie-chart-outline-fill,
    stroke:       pie-chart-outline-stroke,
    stroke-width: pie-chart-outline-stroke-width,
  })
}
.pie_svg_legend rect,
.pie_svg_legend path {
  themify: fill pie-svg-legend-bg-color;
  stroke: none;
}
.pie_svg_legend text {
  font-size: 1.6vmin;
  themify: fill pie-svg-legend-txt-color;
}

// Legends
.pie_legends {
  float: left;
  width:  40%;
  height: 100%;
  padding: 2vmin;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction:         column;
  -webkit-justify-content: center;
  justify-content:         center;
}
.pie_legends_item {
  position: relative;
  display: block;
  white-space: pre;
  margin-bottom: 0.6vmin;
  width: 100%;
}
.pie_legends_item_count {
  position: absolute;
  right: 0;
}
.pie_legends_item_color {
  display: inline-block;
  width:  1.4vmin;
  height: 1.4vmin;
  border-radius: 0.7vmin;
  margin-right: 0.8vmin;
}

.pie_overlay {
  position: absolute;
  top:  0;
  left: 0;
  width:  100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items:         center;
  -webkit-justify-content: center;
  justify-content:         center;
}

// Count
.pie_count {
  line-height: 1em;
  text-align: center;
}
.pie_count_value {
  font-size: 6vmin;
}
.pie_count_unit {
  font-size: 3vmin;
}
.pie_count_label {
  display: block;
  margin-top: 1vmin;
}

// Gauge
.pie_gauge_needle_base,
.pie_gauge_needle_arrow {
  themify: fill pie-gauge-needle-color;
}
