.table {
  width: 100%
  border-collapse: collapse
}
.table__row {
  themify: border-top table-border-h
}
.table__row:first-child {
  border-top: none
}
.table__row--head:first-child {
  themify: border-bottom table-border-h
}
table__cell {
  text-align: left
  themify: padding table-cell-padding
}
