.treemap
  position relative

  &__chunk
    text-align center
    overflow hidden
    position absolute
    color $main-bg-color
    display         flex
    justify-content center
    align-items     center
    font-size 1.2em

    &__inner
      width  100%
      height 100%

  .count
    margin-left 1vmin
