.treemap {
  position: relative;
}
.treemap__chunk {
  text-align: center;
  overflow: hidden;
  position: absolute;
  themify: color main-bg-color;
  display:         flex;
  justify-content: center;
  align-items:     center;
  font-size: 1.2em;
}
.treemap__chunk__inner {
  width:  100%;
  height: 100%;
}
.treemap .count {
  margin-left: 1vmin;
}
