.header {
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 6vmin;
    padding: 0 3vmin;
}

.title_wrapper {
    flex-grow: 1;
    margin-Right: 4vmin;
    height: 6vmin;
}

.title {
    height: 6vmin;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    white-space: pre;
}

.toggle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
}
