@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300|Open+Sans:400italic,400,300,600,700");
.root {
    font-family: 'Open sans', sans-serif;
    color: hsl(6, 26%, 67%);
    background: #281212;
    font-size: 1.8vmin;
    line-height: 3vmin;
}

.root a {
    color: hsl(10, 60%, 90%);
}