.header {
    color: hsl(10, 60%, 90%);
    font-family: 'Roboto Slab', sans-serif;
    border-bottom: 1px solid rgb(40, 18, 18);
    font-size: 2.2vmin;
}

.subject {
    color: #fff;
    font-weight: 300;
}

.count {
    background-color: rgb(40, 18, 18);
    color: hsl(0, 52%, 60%);
    border-radius: 2px;
    padding: 0.6vmin 1vmin;
    font-size: 1.8vmin;
}

.icon {
    color: hsl(0, 52%, 60%);
    font-size: 2.6vmin;
}
