.item {
    border-bottom: 1px solid rgb(52, 20, 20);
}
.item:hover {
    background-color: rgb(82, 25, 25);
}
.item:last-child {
    border-bottom: 0;
}

.meta {
    color: hsl(0, 52%, 60%);
    font-size: 1.6vmin;
}
