{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    [
      "react-css-modules",
      {
        "generateScopedName": "[name]__[local]___[hash:base64:5]"
      }
    ]
  ]
}
