@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700")

// GENERIC
$main-bg-color                  = #eee
$main-txt-color                 = #555


// WIDGET
$widget-spacing                 = 1.6vmin
$widget-bg-color                = transparent
$widget-shadow                  = none

// WIDGET — header
$widget-header-height           = 7vmin
$widget-header-bg-color         = transparent
$widget-header-txt-color        = #999999
$widget-header-icon-color       = #84c2f6

// WIDGET — header count
$widget-header-count-bg-color   = #fefefe
$widget-header-count-txt-color  = #888
$widget-header-count-shadow     = none
$widget-header-count-txt-shadow = none
$widget-header-font             = normal normal 300 3.4vmin "Lato", sans-serif

// WIDGET — body
$widget-body-border-radius      = 2px
$widget-body-bg-color           = #fff
$widget-body-shadow             = 0 1px 2px rgba(0, 0, 0, 0.2)


// COUNT
$count-padding                  = 3px 7px
$count-bg-color                 = $main-bg-color
$count-txt-color                = #5b89b5
$count-border-radius            = 2px
$count-border                   = none


// TABLE
$table-border-h                 = 1px solid #ddd


// Meaningful colors
$unknown-color                  = #cccccc
$success-color                  = #84c2f6
$failure-color                  = #e89643


// CHARTS
$histogram-bar-bg-color         = #eee
$chart-axis-txt-color           = #999