@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

.theme-yellow {
  @require 'dashboard';
  @require 'widget';
  @require 'time/clock';
  @require 'weather/weather';
  @require 'list';
}