@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,200,700,800|Montserrat:400,700")

// GENERIC
$main-bg-color                  = #1c1a1d
$main-txt-color                 = #1c1a1d
$main-margin                    = 2vmin
$main-font                      = normal normal 400 unquote("1.6vmin/3vmin") "Open Sans", sans-serif

// WIDGET
$widget-spacing                 = 2vmin
$widget-bg-color                = #fff
$widget-shadow                  = 0 1px 1px rgba(0, 0, 0, 0.75)
$widget-border-radius           = 4px

// WIDGET — header
$widget-header-height           = 5vmin
$widget-header-bg-color         = transparent
$widget-header-txt-color        = inherit
$widget-header-icon-size        = 2vmin
$widget-header-font             = normal normal 700 unquote("1.6vmin/3vmin") "Montserrat", sans-serif

// WIDGET — header count
$widget-header-count-bg-color   = #ddd
$widget-header-count-txt-color  = inherit

// WIDGET — body
$widget-body-border             = 3px solid #fff
$widget-body-border-radius      = 0 0 2px 2px
$widget-body-bg-color           = transparent
$widget-body-shadow             = none

// TABLE
$table-border-h                 = 1px solid #253246

// COUNT
$count-padding                  = 3px 7px
$count-bg-color                 = #333
$count-txt-color                = #a2e7da
$count-border-radius            = 2px
$count-border                   = none

// LABEL
$label-txt-color                = inherit
$label-border-radius            = 3px

// Meaningful color
$unknown-color                  = #d3dfe8
$success-color                  = #05cccc
$warning-color                  = #ffb327
$failure-color                  = #ee614e

// CHART
$histogram-bar-bg-color         = #fff
$chart-axis-txt-color           = #1e3648
$chart-grid-line-color          = #ccc
$pie-chart-outline-stroke       = #ddd
$pie-chart-outline-stroke-width = 8px


// PROPS
$prop-key-txt-color             = $main-txt-color
$prop-value-txt-color           = lighten($main-txt-color, 10)
