.time__clock {
  background-color: themes[yellow][widget-header-bg-color];
}
.time__clock__outer-circle {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15) inset
  border-color: themes[yellow][widget-header-txt-color];
  background-color: themes[yellow][widget-bg-color];
}
.time__clock__inner-circle,
.time__clock__hande {
  background-color: themes[yellow][widget-header-icon-color];
}
.time__clock__brand {
  //color: darken(themes[yellow][widget-header-bg-color], 10);
}
