html,
body {
    margin: 0;
    height: 100%;
    width:  100%;
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    max-height: 100%;
}

svg {
    display: block;
}

.root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}