// GENERIC
$main-bg-color=                  #fff;
$main-txt-color=                 #555;
$main-margin=                    20px;
$main-font=                      normal normal 400 unquote('16px/18px') sans-serif;


// WIDGET
$widget-spacing=                 12px;
$widget-bg-color=                #fff;
$widget-shadow=                  none;
$widget-border-radius=           0;
$widget-border=                  none;

// WIDGET — header
$widget-header-height          = 42px;
$widget-header-border          = none;
$widget-header-bg-color        = $main-bg-color;
$widget-header-txt-color       = $main-txt-color;
$widget-header-icon-color      = $main-txt-color;
$widget-header-icon-size       = 20px;
$widget-header-shadow          = none;
$widget-header-border-bottom   = none;
$widget-header-border-radius   = 0;
$widget-header-font            = normal normal 400 unquote('15px/42px') sans-serif;

// WIDGET — header count
$widget-header-count-bg-color=   $main-bg-color;
$widget-header-count-txt-color=  $main-txt-color;
$widget-header-count-shadow=     none;
$widget-header-count-txt-shadow= none;
$widget-header-count-border=     none;

// WIDGET — body
$widget-body-border=             none;
$widget-body-border-radius=      0 0 2px 2px;
$widget-body-bg-color=           transparent;
$widget-body-shadow=             none;


// COUNT
$count-padding                  = 3px 7px;
$count-bg-color                 = $main-bg-color;
$count-txt-color                = $main-txt-color;
$count-border-radius            = 0;
$count-border                   = none;


// Meaningful colors
$unknown-color                  = #495b71;
$success-color                  = #2ac256;
$warning-color                  = #d1be65;
$failure-color                  = #de1500;


// CHARTS
$histogram-bar-bg-color=         #ddd;
$chart-axis-txt-color=           $main-txt-color;


// PROPS
$prop-key-txt-color             = $main-txt-color;
$prop-value-txt-color           = $main-txt-color;