@require '__vars.styl';

@require '../../themes/' + $theme + '/_vars.styl';

@require '_mixins.styl';
@require '_main.styl';
@require 'components/_widget.styl';
@require 'components/_list.styl';
@require 'components/_count.styl';

// IMPORT EXTENSIONS STYLES
@require '../../ext/collected.styl';

@require '../../themes/' + $theme + '/' + $theme + '.styl';