@require "__vars.styl";

/*
  Available themes:
   + night-blue
   + light-grey
   + yellow
   + light-yellow
   + bordeau
*/

$theme = 'bordeau';

@import 'themes/' + $theme + '/_vars.styl';

@import "_mixins.styl";
@import "_main.styl";
@import "components/_widget.styl";
@import "components/_list.styl";

// IMPORT EXTENSIONS STYLES
@import "../../ext/collected.styl";

@import 'themes/' + $theme + '/' + $theme + '.styl';