.count
  display inline-block
  font-size $count-font-size
  padding $count-padding
  background-color $count-bg-color
  color            $count-txt-color
  border-radius $count-border-radius
  line-height 1em
  border $count-border
