.count
  display inline-block

  padding $count-padding

  background-color $count-bg-color
  color            $count-txt-color

  border-radius $count-border-radius

  line-height 1em

  border $count-border