.dashboard
  height 100%
  width  100%

  &__wrapper
    height 100%
    width  100%

  &__timeline
    width  100%
    height 4px

    position absolute

    top -8px
    left 0

    padding 0 $widget-spacing / 2

    &__progress
      height 100%
      width  100%

      background-color: #e0c671


  &__sheet
    height 100%
    width  100%

    position absolute

    top  0
    left 0

    opacity 0

    padding 20px

    transition(all 800ms)

    //transform: scale(0.8);

    z-index 1

    &._is-current
      left 0

      z-index 2

      opacity 1

      //transform: scale(1);