.dashboard
  height 100%
  width  100%

  &__title
    position absolute
    top   ($widget-spacing / 2)
    right ($widget-spacing / 2)
    left  ($widget-spacing / 2)
    height $dashboard-header-height
    color $dashboard-header-txt-color
    font  $dashboard-header-font
    padding 0 3vmin

  &__body
    position absolute
    width 100%
    top    0
    bottom 0
    left   0

    &--with-header
      top $dashboard-header-height + $widget-spacing

  &__wrapper
    height 100%
    width  100%

  &__timeline
    width  100%
    height 4px
    position absolute
    top -8px
    left 0
    padding 0 $widget-spacing / 2

    &__progress
      height 100%
      width  100%
      background-color: #e0c671

  &__sheet
    position absolute
    top    $main-margin
    right  $main-margin
    bottom $main-margin
    left   $main-margin
    opacity 0
    padding 20px
    transition(all 800ms)
    z-index 1

    &._is-current
      z-index 2
      opacity 1
