.mozaik__inspector
  .widget__body
    padding 1.6vmin 2vmin
    display flex
    flex-direction column
    align-items stretch
    align-content stretch
    justify-content space-between

  .label,
  .label__addon
    padding 0.6vmin 1.6vmin
