.list
  list-style none

  margin  0
  padding 0

  &__empty-msg
    text-align center
    margin 30px 15px

  &__item
    padding $list_item_padding

    //line-height 24px

    position relative

    &--with-status

      padding $list_item_with_status_padding

      &:before
        content " "
        display block

        width  $list_item_status_icon_size
        height $list_item_status_icon_size

        position absolute

        top  $list_item_status_icon_top
        left $list_item_status_icon_left

        border-radius ($list_item_status_icon_left / 2)

        background-color #000

      &--aborted:before
        background-color $unknown-color

      &--ok:before,
      &--passed:before,
      &--success:before
        background-color $success-color

      &--warning:before
        background-color $warning-color

      &--critical:before,
      &--failed:before,
      &--failure:before
        background-color $failure-color

    &__time
      font-size 85%
      &--inline
        display inline-block
        margin-left 7px

  &--compact
    .list__item
      padding 5px 15px