// GENERIC
$main-bg-color:                  rgb(48, 18, 18);
$main-txt-color:                 hsl(6, 26%, 67%);
$main-margin:                    50px;


// WIDGET
$widget-spacing:                 2px;
$widget-bg-color:                rgb(69, 23, 23);
$widget-shadow:                  none;
$widget-border-radius:           0;
$widget-border:                  none;
// WIDGET — header
$widget-header-bg-color:         transparent;
$widget-header-txt-color:        #fff;
$widget-header-icon-color:       transparent;
$widget-header-shadow:           none;
$widget-header-border-bottom:    1px solid $main-bg-color;
$widget-header-border-radius:    0;
// WIDGET — header count
$widget-header-count-bg-color:   $main-bg-color;
$widget-header-count-txt-color:  hsl(0, 52%, 60%);
$widget-header-count-shadow:     none;
$widget-header-count-txt-shadow: none;
// WIDGET — body
$widget-body-shadow:             none;
$widget-body-border-radius:      0;
$widget-body-bg-color:           transparent;


// Meaningful colors
$unknown-color:                  #7e706d;
$success-color:                  #50a3b2;
$failure-color:                  #861810;


// CHARTS
$histogram-bar-bg-color:         darken($widget-bg-color, 2);
$chart-axis-txt-color:           $main-txt-color;