// GENERIC
$main-bg-color:                  #7e706d;
$main-txt-color:                 #444;
$main-margin:                    30px;


// WIDGET
$widget-spacing:                 1px;
$widget-bg-color:                #ede2c6;
$widget-shadow:                  none;
$widget-radius:                  0;
// WIDGET — header
$widget-header-bg-color:         #c2b0a2;
$widget-header-txt-color:        #604d46;
$widget-header-icon-color:       #cc2924;
$widget-header-shadow:           none;
$widget-header-border-bottom:    none;
$widget-header-border-radius:    0;
// WIDGET — header count
$widget-header-count-bg-color:   #e0d5cf;
$widget-header-count-txt-color:  #604d46;
$widget-header-count-shadow:     none;
$widget-header-count-txt-shadow: none;
// WIDGET — body
$widget-body-shadow:             none;
$widget-body-border-radius:      0;
$widget-body-bg-color:           #f8f8f8;


// Meaningful colors
$unknown-color:                  #7e706d;
$success-color:                  #0b9eb2;
$failure-color:                  #862b34;


// CHARTS
$histogram-bar-bg-color:         #c2b0a2;
$chart-axis-txt-color:           #806b3f;