.list {
  list-style: none;

  margin:  0;
  padding: 0;

  &__item {
    padding: 7px 15px;

    line-height: 24px;

    position: relative;

    &--with-status {

      padding: 7px 15px 7px 35px;

      &:before {
        content: " ";
        display: block;

        width:  12px;
        height: 12px;

        position: absolute;

        top:  15px;
        left: 12px;

        border-radius: 100%;

        background-color: #000;
      }
    }

    &__time {
      font-size: 85%;
      &--inline {
        display: inline-block;
        margin-left: 7px;
      }
    }
  }

  &--compact {
    .list__item {
      padding 5px 15px;
    }
  }
}