.table
  width 100%

  border-collapse collapse

  &__row
    border-top $table-border-h
    &:first-child
      border-top none
    &--head
      &:first-child
        border-bottom $table-border-h

  &__cell
    text-align left
    padding $table-cell-padding