.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.6vmin;
}

.cell {
    padding: 1vmin 2vmin;
}

.headCell {
    padding: 1vmin 2vmin;
    text-align: left;
    font-weight: normal;
}