.jenkins
  &__view
    &__job
      &__build
        &__status
          font-size 1.6em
          &--success
            color $success-color
          &--unknown
            color $unknown-color
          &--failure
            color $failure-color