@require "_view.styl"

.jenkins {
  &__job-build_durations {
    &__bar {
      fill: $unknown-color;
      &--success {
        fill: darken($success-color, 0);
      }
      &--failure {
        fill: darken($failure-color, 0);
      }
    }
    &__bar-bg {
      fill: $histogram-bar-bg-color;
    }
    &__axis {
      .domain {
        fill: transparent;
      }
      text {
        fill: $chart-axis-txt-color;
        font-size: 12px;
      }
    }
  }

  &__job {
    padding: 7px 15px 7px 35px;

    &:before {
      content: " ";
      display: block;

      width:  12px;
      height: 12px;

      position: absolute;

      top:  14px;
      left: 12px;

      border-radius: 100%;

      background-color: #000;
    }

    position: relative;

    &__status {
      position: absolute;

      left: 15px;
    }

    &__number {
      color: darken($main-txt-color, 20);
      margin-right: 7px;
    }

    &--success {
      &:before {
        background-color: $success-color;
      }
    }
    &--failure {
      &:before {
        background-color: $failure-color;
      }
    }
    time {
      font-size 12px;
      display inline-block;
      color darken($main-txt-color, 20);
    }
  }

  &__job-status {
    .widget__body {
      padding-bottom 30px;
    }

    &__current {
      margin 40px 0 0 50px;
      &__status {
        font-size 28px;
        line-height 32px;
        &--success {
          color $success-color;
        }
        &--failure {
          color $failure-color;
        }
      }
      &__time {
        font-size 13px;
        color darken($main-txt-color, 20);
      }
    }

    &__previous {
      position absolute;

      left   0;
      bottom 10px;

      height      24px;
      line-height 24px;

      padding 0 15px;

      font-size: 13px;

      color darken($main-txt-color, 20);
    }
  }
}