//
// Fallbacks are used when a theme doesn't provide some variable,
// allowing nested inheritance of variables inside a theme.
//
fallbacks = {
  card-bg-color:                     main-bg-color,
  dashboard-header-txt-color:        main-txt-color,
  dashboard-header-font:             main-font,
  widget-bg-color:                   card-bg-color,
  widget-header-bg-color:            card-bg-color,
  widget-header-font:                main-font,
  widget-header-txt-color:           main-txt-color,
  widget-header-icon-color:          widget-header-txt-color,
  widget-header-count-bg-color:      count-bg-color,
  widget-header-count-txt-color:     count-txt-color,
  widget-header-count-border:        count-border,
  widget-header-count-border-radius: count-border-radius,
  widget-header-count-padding:       count-padding,
  widget-body-bg-color:              widget-bg-color,
  count-txt-color:                   main-txt-color,
  label-txt-color:                   main-txt-color,
  label-addon-bg-color:              label-bg-color,
  label-addon-txt-color:             label-txt-color,
  chart-elements-color:              main-txt-color,
  chart-axis-txt-color:              chart-elements-color,
  histogram-bar-bg-color:            chart-elements-color,
  chart-axis-tick-color:             chart-elements-color,
  chart-grid-line-color:             chart-elements-color,
  pie-svg-legend-txt-color:          main-txt-color,
  prop-key-txt-color:                main-txt-color,
  prop-value-txt-color:              main-txt-color,
  notifications-bg-color:            card-bg-color,
  notifications-txt-color:           main-txt-color,
}
