html, body {
  margin: 0;
  height: 100%;
  width:  100%;
  overflow: hidden;
}

#mozaik {
  height: 100%;
  width:  100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
.histogram__axis__legend {
  font-size: 14px;
  themify: fill chart-axis-txt-color;
}

h1, h2, h3, h4, h5, h6
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;

.txt--success {
  themify: color success-color;
}
.prop__key {
  themify: color prop-key-txt-color;
}
.prop__value {
  themify: color prop-value-txt-color;
}