@require 'defaults';
@require 'fallbacks';

@require 'mixins';

@require '../themes/*/vars';

themes = {
  bordeau:      normalizeTheme(theme-bordeau),
  harlequin:    normalizeTheme(theme-harlequin),
  light-grey:   normalizeTheme(theme-light-grey),
  light-yellow: normalizeTheme(theme-light-yellow),
  night-blue:   normalizeTheme(theme-night-blue),
  snow:         normalizeTheme(theme-snow),
  yellow:       normalizeTheme(theme-yellow),
};

@require 'animations';
@require 'main';
@require 'components/dashboard';
@require 'components/widget';
@require 'components/list';
@require 'components/count';
@require 'components/label';
@require 'components/table';
@require 'components/treemap';
@require 'components/pie';
@require 'components/bar-chart';
@require 'components/inspector';
@require 'components/notifications';
@require 'components/connection-status';
@require 'components/settings';

// ——————————————————————————————————————————————————————————————————————
// Importing extensions styles the variable mozaik-extensions is defined
// by webpack, by looking at installed extensions in package.json
// ——————————————————————————————————————————————————————————————————————
for extension in mozaik-extensions {
  @require '~' + extension + '/styl/index.styl';
}

@require '../themes/*/index';
