.twitter__hashtags-pie
  &__legends
    margin  0
    padding 0

    list-style none

  &__legend
    vertical-align middle

    &__color
      vertical-align middle

      display inline-block

      width  2.6vmin
      height 2.6vmin

      border-radius 2px

      margin-right 1vmin

      background-color #000
