.dashboard__title {
  text-transform uppercase;
  padding: 0 2vmin;
  background: themes[bordeau][widget-bg-color];
  border-radius: themes[bordeau][widget-border-radius];
  box-shadow: themes[bordeau][widget-header-shadow],
              themes[bordeau][widget-shadow];
}