@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300|Open+Sans:400italic,400,300,700");

.theme-bordeau {
  @require 'dashboard';
  @require 'widget';
  @require 'list';
  @require 'time/clock';
}