theme-bordeau = {
  // GENERIC
  main-bg-color:  rgb(40, 18, 18),
  main-txt-color: hsl(6, 26%, 67%),
  main-margin:    4vmin,
  main-font:      unquote("normal normal 400 2vmin/3vmin 'Open sans', sans-serif"),
  card-bg-color:  rgb(69, 23, 23),

  // DASHBOARD
  dashboard-header-height:    6vmin,
  dashboard-header-txt-color: hsl(0, 52%, 60%),
  dashboard-header-font:      unquote("normal normal 300 2.6vmin/6vmin 'Roboto Slab', sans-serif"),

  // WIDGET
  widget-bg-color: rgb(69, 23, 23),
  widget-spacing: 0.4vmin,

  // WIDGET — header
  widget-header-txt-color:     hsl(10, 60%, 90%),
  widget-header-icon-color:    hsl(0, 52%, 60%),
  widget-header-border-bottom: 1px solid rgb(40, 18, 18),
  widget-header-font:          unquote("normal normal 100 2.5vmin 'Roboto Slab', sans-serif"),

  // COUNT
  count-bg-color:      lighten(rgb(69, 23, 23), 4),
  count-txt-color:     hsl(0, 52%, 60%),
  count-border-radius: 2px,

  // WIDGET — header count
  widget-header-count-bg-color: rgb(40, 18, 18),

  // LABEL
  label-bg-color:        lighten(rgb(69, 23, 23), 5),
  label-txt-color:       hsl(10, 60%, 90%),
  label-addon-bg-color:  rgb(40, 18, 18),
  label-addon-txt-color: hsl(10, 60%, 90%),
  label-border-radius:   2px,

  notifications-bg-color: lighten(rgb(69, 23, 23), 7),

  // TABLE
  table-border-h: 1px solid rgb(40, 18, 18),

  // Meaningful colors
  unknown-color: #7e706d,
  success-color: #50a3b2,
  failure-color: #a31c12,

  // CHARTS
  histogram-bar-bg-color:         lighten(rgb(69, 23, 23), 4),
  chart-axis-txt-color:           hsl(6, 26%, 67%),
  pie-chart-outline-stroke:       darken(rgb(69, 23, 23), 7),
  pie-chart-outline-stroke-width: 6px,
  pie-gauge-needle-color:         darken(rgb(40, 18, 18), 7),
  pie-svg-legend-bg-color:        lighten(rgb(69, 23, 23), 5)

  // PROPS
  prop-key-txt-color:   hsl(6, 26%, 67%),
  prop-value-txt-color: lighten(hsl(6, 26%, 67%), 13),
}