// GENERIC
$main-bg-color:                  #fff                                   !default;
$main-txt-color:                 #555                                   !default;
$main-margin:                    20px                                   !default;
$main-font:                      normal normal 400 16px/18px sans-serif !default;


// WIDGET
$widget-spacing:                 12px                                   !default;
$widget-bg-color:                #fff                                   !default;
$widget-shadow:                  none                                   !default;
$widget-border-radius:           0                                      !default;
$widget-border:                  none                                   !default;
// WIDGET — header
$widget-header-height:           42px                                   !default;
$widget-header-border:           none                                   !default;
$widget-header-bg-color:         $main-bg-color                         !default;
$widget-header-txt-color:        $main-txt-color                        !default;
$widget-header-icon-color:       $main-txt-color                        !default;
$widget-header-shadow:           none                                   !default;
$widget-header-border-bottom:    none                                   !default;
$widget-header-border-radius:    0                                      !default;
$widget-header-font:             normal normal 400 15px/42px sans-serif !default;
// WIDGET — header count
$widget-header-count-bg-color:   $main-bg-color                         !default;
$widget-header-count-txt-color:  $main-txt-color                        !default;
$widget-header-count-shadow:     none                                   !default;
$widget-header-count-txt-shadow: none                                   !default;
$widget-header-count-border:     none                                   !default;
// WIDGET — body
$widget-body-border:             none                                   !default;
$widget-body-border-radius:      0 0 2px 2px                            !default;
$widget-body-bg-color:           transparent                            !default;
$widget-body-shadow:             none                                   !default;


// Meaningful colors
$unknown-color:                  #495b71                                !default;
$success-color:                  #2ac256                                !default;
$warning-color:                  #d1be65                                !default;
$failure-color:                  #de1500                                !default;


// CHARTS
$histogram-bar-bg-color:         #ddd                                   !default;
$chart-axis-txt-color:           $main-txt-color                        !default;