.sensu__events {
  &__item {
    font-size: 16px;

    position: relative;

    padding: 9px 15px 9px 35px;

    line-height: 22px;

    &__output {
      font-size: 14px;
      display: block;
      margin: 7px 0;
    }
  }
}