// GENERIC
$main-bg-color:                  #eee;
$main-txt-color:                 #555;
$main-margin:                    40px;


// WIDGET
$widget-spacing:                 10px;
$widget-bg-color:                transparent;
$widget-shadow:                  none;
$widget-border-radius:           0;
// WIDGET — header
$widget-header-bg-color:         transparent;
$widget-header-txt-color:        #999999;
$widget-header-icon-color:       #84c2f6;
$widget-header-shadow:           none;
$widget-header-border-bottom:    none;
$widget-header-border-radius:    3px 3px 0 0;
// WIDGET — header count
$widget-header-count-bg-color:   #ccc;
$widget-header-count-txt-color:  #fff;
$widget-header-count-shadow:     none;
$widget-header-count-txt-shadow: none;
// WIDGET — body
$widget-body-border-radius:      2px;
$widget-body-bg-color:           #fff;
$widget-body-shadow:             0 1px 2px rgba(0, 0, 0, 0.2);


// Meaningful colors
$unknown-color:                  #cccccc;
$success-color:                  #84c2f6;
$failure-color:                  #e89643;


// CHARTS
$histogram-bar-bg-color:         #eee;
$chart-axis-txt-color:           #999;