.header {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    padding: 0 3.6vmin;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vmin;
    color: #000;
}
