.time__clock
  box-shadow 0 1px 0 #495b71 inset

  &__outer-circle
    border 0.8vmin solid #495b71
    background-color #1e2430
    box-shadow 0 0 2px rgba(0, 0, 0, 0.5)

  &__inner-circle,
  &__hand
    background-color #e0c671
    box-shadow 0 0 3px rgba(0, 0, 0, 0.5)

  &__brand
    color #495b71