.time__clock
  &__outer-circle
    border-color #eee
    background-color #fff

  &__inner-circle
    background #000

  &__indicator
    display none

  &__hand
    background-color #000
    &--seconds
      background-color #0ed09b
