.time__clock
  &__outer-circle
    border-color #ccc
    background-color #fff

  &__inner-circle
    background #000

  &__hand
    background-color #000
    &--seconds
      background-color #ee572d
