.time__clock
  &__outer-circle
    border-color #d3dfe8
    background-color #f1f6f7
    box-shadow 0 0 30px rgba(255, 255, 255, 0.75) inset

  &__inner-circle
    background #c5d2db

  &__indicator
    display none

  &__hand
    background-color #c5d2db
    &--seconds
      background-color #a9dca9
