@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,200,800|Montserrat:400,700")


// GENERIC
$main-bg-color                  = #ebf0f1
$main-txt-color                 = #333
$main-margin                    = 10vmin
$main-font                      = normal normal 400 unquote("1.6vmin/3vmin") "Open Sans", sans-serif


// WIDGET
$widget-spacing                 = 2vmin
$widget-bg-color                = #fff
$widget-shadow                  = 0 1px 1px rgba(0, 0, 0, 0.15)
$widget-border-radius           = 2px
$widget-border                  = none

// WIDGET — header
$widget-header-height           = 5vmin
$widget-header-border           = none
$widget-header-bg-color         = #fafafa
$widget-header-txt-color        = #333
$widget-header-icon-color       = #bbb
$widget-header-icon-size        = 2vmin
$widget-header-shadow           = none
$widget-header-border-bottom    = none
$widget-header-border-radius    = 2px 2px 0 0
$widget-header-font             = normal normal 400 2vmin "Montserrat", sans-serif

// WIDGET — header count
$widget-header-count-bg-color      = transparent
$widget-header-count-txt-color     = $main-txt-color
$widget-header-count-shadow        = none
$widget-header-count-txt-shadow    = none
$widget-header-count-border        = 1px solid #ddd
$widget-header-count-border-radius = 2vmin
$widget-header-count-padding       = 0.6vmin 1.6vmin


// WIDGET — body
$widget-body-border             = 3px solid #fff
$widget-body-border-radius      = 0 0 2px 2px
$widget-body-bg-color           = transparent
$widget-body-shadow             = none


// TABLE
$table-border-h                 = 1px solid #253246


// COUNT
$count-padding                  = 0.4vmin 1.2vmin
$count-font-size                = 1.8vmin
$count-bg-color                 = transparent
$count-txt-color                = $main-txt-color
$count-border-radius            = 2vmin
$count-border                   = 1px solid #ddd



// Meaningful color
$unknown-color                  = #d3dfe8
$success-color                  = #8ddb8d
$warning-color                  = #d1be65
$failure-color                  = #e37856


// CHART
$histogram-bar-bg-color         = #fafafa
$chart-axis-txt-color           = #999


// PROPS
$prop-key-txt-color             = $main-txt-color
$prop-value-txt-color           = lighten($main-txt-color, 10)
