@import '_clock'

/*
.widget__header__subject
  color #000
  font-weight 700

.widget__body
  border none

.github__user-badge,
.travis__build-history
  .widget__header
    background-color #ffec78
    .fa
      color #faf6e1
  .widget__body
    background-color #faf0b5

.weather__weather,
.github__repository-contributors_stats
  .widget__header
    background-color #78d6ff
    .fa
      color #28b8f7
  .widget__body
    background-color #b3e4fa

.weather__icon--broken-clouds,
.weather__icon--overcast-clouds,
.weather__icon--light-rain,
.weather__icon--moderate-rain
  &:before
    color #28afe9
*/
