.list__item.github__branch
  padding-top 12px

  min-height 40px

.github
  &__branch
    line-height 1em
    &__avatar
      position absolute

      width  28px
      height 28px

      overflow hidden

      border-radius 14px

      top   6px
      right 15px

      img
        max-width 100%