.github__repository-contributors_stats
  &__item
    height 56px;

    padding-left 71px;

    padding-top    7px;
    padding-bottom 7px;

    img
      position absolute;

      top  0;
      left 0;

      width  56px;
      height 56px;

    &__count
      position absolute;

      right 15px;