.weather {
  &__weather {
    .widget__body {
      padding 15px 15px 15px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__current {
      margin-right 30px;
      align-self: flex-start;
    }

    &__temp {
      &__value {
        font-size   52px;
        line-height 52px;

        vertical-align top;

        display inline-block;
      }

      &__unit {
        font-size 18px;

        display inline-block;

        margin-top  10px;
        margin-left 3px;

        vertical-align top;
      }
    }

    &__description {
      margin-top 7px;
    }

    &__forecast {
      align-self: flex-end;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      &__item {
        flex: 1;

        margin-left 15px;
        &:first-child {
          margin-left 0;
        }

        &__min,
        &__max {
          display block;

          width 50%;

          font-size 14px;

          float left;

          text-align center;

          line-height 16px;
        }
        &__min {
          padding-right 3px;
        }
        &__max {
          padding-left 3px;
        }

        &__description {
          font-size 14px;
          display block;
          text-align center;
          width 100%;
          margin-bottom 9px;
        }
      }
    }
  }
}