@font-face {
  font-family: 'Weather';
  src: url('fonts/weather.ttf') format('truetype');
}

.weather {

  &__icon {
    display: inline-block;
    font-family "Weather";
    display inline-block;
    font-style normal;
    color #ddd;

    &--clear-sky:before {
      content "A";
    }

    &--few-clouds:before,
    &--scattered-clouds:before {
      content "D";
    }

    &--broken-clouds:before,
    &--overcast-clouds:before {
      content "P";
    }

    &--light-rain:before,
    &--moderate-rain:before {
      content "F";
    }

    &--light-snow:before,
    &--snow:before,
    &--heavy-snow:before,
    &--sleet:before,
    &--shower-sleet:before,
    &--light-rain-and-snow:before,
    &--rain-and-snow:before,
    &--light-shower-snow:before,
    &--shower-snow:before,
    &--heavy-shower-snow:before {
      content "W";
    }

    &--heavy-intensity-rain:before,
    &--very-heavy-rain:before,
    &--extreme-rain:before,
    &--freezing-rain:before,
    &--light-intensity-shower-rain:before,
    &--shower-rain:before,
    &--heavy-intensity-shower-rain:before,
    &--ragged-shower-rain:before {
      content "X";
    }
  }


  &__weather {
    .widget__body {
      padding 15px 15px 15px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__current {
      margin-right 30px;
      align-self: flex-start;

      white-space: nowrap;

      .weather__icon {
        font-size 52px;

        height      60px;
        line-height 60px;

        margin-right 10px;
      }
    }

    &__temp {
      &__value {
        font-size   52px;
        line-height 52px;

        vertical-align top;

        display inline-block;
      }

      &__unit {
        font-size 18px;

        display inline-block;

        margin-top  10px;
        margin-left 3px;

        vertical-align top;
      }
    }

    &__description {
      margin-top 7px;
    }

    &__forecast {
      align-self: flex-end;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      min-height 120px;

      &__item {
        flex: 1;

        text-align center;

        display: flex;
        justify-content: center;
        flex-direction column;

        margin-left 15px;
        &:first-child {
          margin-left 0;
        }

        .weather__icon {
          font-size 36px;
          margin-bottom 10px;
        }

        &__min-max {
          align-self: flex-end;
        }

        &__min,
        &__max {
          display block;

          width 50%;

          font-size 14px;

          float left;

          line-height 16px;
        }
        &__min {
          padding-right 3px;
        }
        &__max {
          padding-left 3px;
        }

        &__description {
          font-size 14px;
          display block;
          width 100%;
          margin-bottom 9px;
        }
      }
    }
  }
}