// GENERIC
$main-bg-color                  = #fff
$main-txt-color                 = #555
$main-margin                    = 4vmin
$main-font                      = normal normal 400 unquote("2.4vmin/3.6vmin") "Open sans", sans-serif


// WIDGET
$widget-spacing                 = 2vmin
$widget-bg-color                = #fff
$widget-shadow                  = none
$widget-border                  = none
$widget-inner-spacing           = 2vmin

// WIDGET — header
$widget-header-height           = 6vmin
$widget-header-border           = none
$widget-header-bg-color         = $main-bg-color
$widget-header-txt-color        = $main-txt-color
$widget-header-icon-color       = $main-txt-color
$widget-header-icon-size        = 3vmin
$widget-header-shadow           = none
$widget-header-border-bottom    = none
$widget-header-border-radius    = 0
$widget-header-font             = normal normal 400 unquote('15px/42px') sans-serif

// WIDGET — header count
$widget-header-count-bg-color      = $main-bg-color
$widget-header-count-txt-color     = $main-txt-color
$widget-header-count-shadow        = none
$widget-header-count-txt-shadow    = none
$widget-header-count-border        = none
$widget-header-count-border-radius = 2px
$widget-header-count-padding       = 0.8vmin 1vmin

// WIDGET — body
$widget-body-border             = none
$widget-body-border-radius      = 0
$widget-body-bg-color           = transparent
$widget-body-shadow             = none


// LIST
$list_item_padding              = 1.5vmin 2vmin
$list_item_with_status_padding  = 1.5vmin 2vmin 1.5vmin 4.5vmin
$list_item_status_icon_top      = 2.3vmin
$list_item_status_icon_left     = 2vmin
$list_item_status_icon_size     = 1.5vmin


// TABLE
$table-cell-padding             = 1.5vmin 2vmin
$table-border-h                 = 1px solid #000


// COUNT
$count-padding                  = 0.4vmin 1.4vmin
$count-font-size                = 2.4vmin
$count-bg-color                 = $main-bg-color
$count-txt-color                = $main-txt-color
$count-border-radius            = 0
$count-border                   = none


// Meaningful colors
$unknown-color                  = #495b71
$success-color                  = #2ac256
$warning-color                  = #d1be65
$failure-color                  = #de1500


// CHARTS
$histogram-bar-bg-color         = #ddd
$chart-axis-txt-color           = $main-txt-color
$chart-tick-txt-size            = 1.2vmin
$chart-axis-tick-color          = $main-txt-color
$chart-grid-line-color          = $main-txt-color


// PROPS
$prop-key-txt-color             = $main-txt-color
$prop-value-txt-color           = $main-txt-color
