@require '_mixins'

@require $theme + '/_vars'

@require '__vars'

@require '_animations'
@require '_main'
@require 'components/dashboard'
@require 'components/widget'
@require 'components/list'
@require 'components/count'
@require 'components/label'
@require 'components/table'
@require 'components/treemap'
@require 'components/pie'
@require 'components/bar-chart'
@require 'components/inspector'
@require 'components/notifications'
@require 'components/connection-status'

// IMPORT EXTENSIONS STYLES
@require '../ext/collected'

@require $theme + '/index'
