@require '__vars'

@require $theme + '/_vars'

@require '_mixins'
@require '_main'
@require 'components/_dashboard'
@require 'components/_widget'
@require 'components/_list'
@require 'components/_count'
@require 'components/_table'
@require 'components/_treemap'
@require 'components/_pie'
@require 'components/_bar-chart'

// IMPORT EXTENSIONS STYLES
@require '../ext/collected'

@require $theme + '/index'
