@require 'defaults'

@require '../themes/*/vars'
$themes = {
  bordeau:      $theme-bordeau,
  night-blue:   $theme-night-blue,
  light-yellow: $theme-light-yellow,
  snow:         $theme-snow,
  yellow:       $theme-yellow
}

@require 'mixins'

@require 'main'

@require 'components/dashboard'
@require 'components/widget'
@require 'components/list'
@require 'components/count'
@require 'components/table'
@require 'components/treemap'
@require 'components/pie'
@require 'components/bar-chart'


@require '../themes/bordeau/index'
@require '../themes/night-blue/index'
@require '../themes/snow/index'
@require '../themes/yellow/index'
