@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,200,600,700|Montserrat:400,700");

.root {
    font-family: 'Open sans', sans-serif;
    color: #444;
    background: #e5dabe;
    font-size: 1.8vmin;
    line-height: 3vmin;
}

.root a {
    color: #000;
}