.time__clock__outer-circle {
    themify: border-color main-bg-color
    background-color: lighten($theme-bordeau.widget-bg-color, 4)
}
.time__clock__inner-circle,
.time__clock__hand {
    background-color hsl(0, 52%, 60%)
    box-shadow 0 0 3px rgba(0, 0, 0, 0.5)
}
.time__clock__brand {
  color: darken($theme-bordeau.main-bg-color, 5)
  font-family: "Roboto Slab", sans-serif
}
