.travis__build-history {
  &__item {
    &--created:before {
      background-color: $unknown-color;
    }
    &--passed:before {
      background-color: $success-color;
    }
    &--errored:before,
    &--failed:before {
      background-color: $failure-color;
    }
  }
}