.travis__repository {
  .widget__header {
    padding-left: 35px;

    &:before {
      content: " ";
      display: block;

      width:  12px;
      height: 12px;

      position: absolute;

      top:  ($widget-header-height - 12px) / 2;
      left: 12px;

      border-radius: 100%;

      background-color: #000;
    }
  }
  &--passed {
    .widget__header:before {
      background-color: $success-color;
    }
  }
}