.widget__header
  text-transform uppercase

.pie_outline
  stroke-width 8px

.pie_svg_legend
  text
    font-size 12px
    font-weight bold

.widget__wrapper:nth-child(5n+1) .widget
  background #ffc602
  color #000

  .label,
  .count,
  .widget__header__count
    background #ffd01f

  .label__group
    border 1px solid #ffb327

  .list__item
    border-bottom 1px solid #ffb327

  .pie_outline
    stroke #ffb327

  .pie_svg_legend
    rect, path
      fill #ffd01f


.widget__wrapper:nth-child(5n+2) .widget
  background #01d6d6
  color #000

  .count,
  .widget__header__count
    background #01cece

  .label__addon
    background #01e1e1

  .label__group
    border 1px solid #05cccc

  .list__item
    border-bottom 1px solid #05cccc

  .pie_outline
    stroke #05cccc

  .pie_svg_legend
    rect, path
      fill #01e1e1


.widget__wrapper:nth-child(5n+3) .widget
  background #FFFFFF
  color #000

  .pie_outline
    stroke #ddd

  .pie_svg_legend
    rect, path
      fill #ddd

.widget__wrapper:nth-child(5n+4) .widget
  background #1759e9
  color #fff

  .label,
  .count,
  .widget__header__count
    background #154fbb

  .list__item
    border-bottom 1px solid #154fbb

  .pie_outline
    stroke #154fbb

  .pie_gauge_needle_base,
  .pie_gauge_needle_arrow
    fill #fff

  .pie_svg_legend
    rect, path
      fill #154fbb

    text
      fill #fff


.widget__wrapper:nth-child(5n+5) .widget
  background #ff7559
  color #fff

  .label,
  .count,
  .widget__header__count
    background #ee614e

  .list__item
    border-bottom 1px solid #ee614e

  .pie_outline
    stroke #ee614e

  .pie_gauge_needle_base,
  .pie_gauge_needle_arrow
    fill #fff

  .pie_svg_legend
    rect, path
      fill #ee614e

    text
      fill #fff