.time__clock {
  &__outer-circle {
    border: 1px solid themes[light-grey][widget-header-txt-color];
    background-color: #fff;
  }

  &__inner-circle,
  &__hand {
    background-color: themes[light-grey][widget-header-icon-color];
  }

  &__brand {
    color: themes[light-grey][unknown-color];
  }
}