.time__clock {
  &__outer-circle {
    border 1px solid $widget-header-txt-color;
    background-color #fff;
  }

  &__inner-circle,
  &__hand {
    background-color $widget-header-icon-color;
  }

  &__brand {
    color $unknown-color;
  }
}