.time__clock
  &__outer-circle
    border-color $main-bg-color
    background-color lighten($widget-bg-color, 4)

  &__inner-circle,
  &__hand
    background-color hsl(0, 52%, 60%)
    box-shadow 0 0 3px rgba(0, 0, 0, 0.5)

  &__brand
    color darken($main-bg-color, 5)
    font-family "Roboto Slab", sans-serif